:root {
    --green: #34d399;
    --black: #000000;
    --white: #ffffff;
    --lig-red: #f87171;
}
.App {
    width: 632px;
    height: 584px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5rem 1rem 1rem;
}

.information {
    display: flex;
    flex-wrap: nowrap;
}

.information__total,
.information__selected {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.information__label {
    font-size: 14px;
    color: var(--black);
    margin: 0;
}

.information__value {
    font-weight: bold;
    margin: 0 0 0 0.25rem;
    color: var(--green);
}

.action {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn {
    display: inline-block;
    margin-left: 0.5rem;
    width: auto;
    background-color: var(--green);
    cursor: pointer;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    border-color: transparent;
}

.btn:hover {
    background-color: #10b981;
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    background-color: #6ee7b7;
    cursor: not-allowed;
}

.image-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.5rem;
    height: 30rem;
    overflow: auto;
}

.image-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.image-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

.image-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--green);
}

.image-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-card.selected {
    border: 2px solid var(--green);
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid #e2e8f0;
    width: 100%;
    height: 100%;
}

.image-container:hover {
    cursor: pointer;
}

.image-container.error {
    opacity: 0.5;
}

.image-container__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid var(--green);
    border-bottom: none;
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.actions-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--green);
    padding: 0.5rem;
}

.action-icon {
    cursor: pointer;
}

.action-icon svg {
    width: 16px;
    height: 16px;
}

.download-link {
    align-self: center;
}

.download-link svg {
    width: 16px;
    height: 16px;
}

.check-icon {
    width: 32px;
    height: 32px;
    background-color: var(--green);
    backdrop-filter: blur(10px);
    border-radius: 0 0 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.error-message {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: var(--lig-red);
    left: 0;
    top: 33.333333%;
    color: white;
    padding: 8px;
    border: 1px solid #a5b4c2;
    text-align: center;
}

.tab {
    width: 100%;
    height: 1.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem;
}
.tab input {
    display: none;
}
.tab > input:checked + label {
    color: var(--white);
}
.tab__1,
.tab__2,
.tab__3 {
    width: 5rem;
    height: 1.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--black);
    transition: all 0.5s ease;
}
.tab__1:hover,
.tab__2:hover,
.tab__3:hover {
    color: var(--green);
}
.tab__color {
    position: absolute;
    height: 1.8rem;
    width: 5rem;
    border-radius: 1rem;
    pointer-events: none;
    background-color: var(--green);
    top: 7px;
    z-index: -1;
}
#tab-1:checked ~ .tab__color {
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-2:checked ~ .tab__color {
    transform: translateX(5rem);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.video-table {
    border-collapse: collapse;
    width: 100%;
    height: fit-content;
}

.video-table-head {
    border: 1px solid var(--black);
    text-align: center;
    padding: 8px;
    color: var(--green);
}

.video-table-row {
    border: 1px solid var(--black);
    text-align: left;
    padding: 8px;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
