.App {
    width: 632px;
    height: 584px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;
}

.information {
    display: flex;
    flex-wrap: nowrap;
}

.information__total,
.information__selected {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.information__label {
    font-size: 14px;
    color: #34d399;
    margin: 0;
}

.information__value {
    font-weight: bold;
    margin: 0 0 0 0.25rem;
}

.action {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn {
    display: inline-block;
    margin-left: 0.5rem;
    width: auto;
    background-color: #34d399;
    cursor: pointer;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid black;
}

.btn:hover {
    background-color: #10b981;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 211, 153, 0.5);
}

.btn:disabled {
    background-color: #6ee7b7;
    cursor: not-allowed;
}

.image-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.5rem;
    height: 31.2rem;
    overflow: auto;
}

.image-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.image-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

.image-wrapper::-webkit-scrollbar-thumb {
    background-color: #34d399;
}

.image-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-card.selected {
    border: 2px solid #34d399;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid #e2e8f0;
    width: 100%;
    height: 100%;
}

.image-container:hover {
    cursor: pointer;
}

.image-container.error {
    opacity: 0.5;
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.actions-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #34d399;
    padding: 0.25rem;
}

.action-icon {
    cursor: pointer;
}

.action-icon svg {
    width: 16px;
    height: 16px;
}

.download-link {
    align-self: center;
}

.download-link svg {
    width: 16px;
    height: 16px;
}

.check-icon {
    width: 32px;
    height: 32px;
    background-color: #34d399;
    backdrop-filter: blur(10px);
    border-radius: 0 0 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.error-message {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #f87171;
    left: 0;
    top: 33.333333%;
    color: white;
    padding: 8px;
    border: 1px solid #a5b4c2;
    text-align: center;
}
